<h2>Template-Driven Registration Form</h2>

<form #regForm="ngForm" (ngSubmit)="onSubmit()">
  <label>Full Name:</label>
  <input type="text" name="fullName" [(ngModel)]="user.fullName" required /><br /><br />

  <label>Email:</label>
  <input type="email" name="email" [(ngModel)]="user.email" required email /><br /><br />

  <label>Gender:</label>
  <input type="radio" name="gender" [(ngModel)]="user.gender" value="Male" /> Male
  <input type="radio" name="gender" [(ngModel)]="user.gender" value="Female" /> Female
  <input type="radio" name="gender" [(ngModel)]="user.gender" value="Other" /> Other<br /><br />

  <label>Country:</label>
  <select name="country" [(ngModel)]="user.country" required>
    <option *ngFor="let c of countries" [value]="c">{{ c }}</option>
  </select><br /><br />

  <label>
    <input type="checkbox" name="agree" [(ngModel)]="user.agree" required />
    I agree to the terms and conditions
  </label><br /><br />

  <button type="submit" [disabled]="!regForm.valid">Register</button>
</form>

<hr>

<div *ngIf="submitted">
  <h3>Submitted Data</h3>
  <pre>{{ user | json }}</pre>
</div>
